<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creator.mapper.AfterBreakfastMapper">
    <select id="count" resultType="java.lang.Integer">
        select
          count(1)
        from afterbreakfast
    </select>
    <insert id="insert" parameterType="com.creator.model.snackOrFruit.AfterBreakfastPO" useGeneratedKeys="true" keyProperty="id">
        insert into
           afterbreakfast
        (code,medicine,fruits,snacks)
        values
        (#{code,jdbcType=BIGINT},#{medicine,jdbcType=VARCHAR},#{fruits,jdbcType=VARCHAR},#{snacks,jdbcType=VARCHAR})
    </insert>
    <select id="select" parameterType="java.lang.Integer" resultType="com.creator.model.snackOrFruit.AfterBreakfastPO">
        select
         *
        from afterbreakfast
        where code=#{code,jdbcType=BIGINT}
    </select>
    <update id="update" parameterType="com.creator.model.snackOrFruit.AfterBreakfastPO">
        update
          afterbreakfast
        <set>
            <if test="medicine != null">
                medicine=#{medicine,jdbcType=VARCHAR}
            </if>
            <if test="fruits != null">
                fruits=#{fruits,jdbcType=VARCHAR}
            </if>
            <if test="snacks != null">
                snacks=#{snacks,jdbcType=VARCHAR}
            </if>
        </set>
        where code=#{code,jdbcType=BIGINT}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from
          afterbreakfast
        where code=#{code,jdbcType=BIGINT}
    </delete>
</mapper>