<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creator.mapper.ReflectionMapper">
    <select id="countNum" resultType="java.lang.Integer">
        select
          count(1)
        from
          reflection
    </select>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.creator.model.ReflectionPO">
        insert
          reflection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dayReflection != null">
                day_reflection,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="dayReflection != null">
                #{dayReflection,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="surrounding != null">
                #{surrounding,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByTime" parameterType="com.creator.model.ReflectionPO">
        update
        reflection
        <set>
            <if test="dayReflection != null">
                day_reflection = #{dayReflection,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            create_time = #{createTime,jdbcType=DATE}
        </where>
    </update>
</mapper>