<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="D:\project\health\health-model\src\main\resources\Mapper" />
      </ProjectProfile>
    </option>
  </component>
</project>